// change this to the relative path from where
// feather-icons.scss is imported to the
// feather font files (.eot, .svg, .ttf, .woff)
$icomoon-font-path: "components/sorbet/feather-icons" !default;

$fe-activity: "\e900";
$fe-airplay: "\e901";
$fe-alert-circle: "\e902";
$fe-alert-octagon: "\e903";
$fe-alert-triangle: "\e904";
$fe-align-center: "\e905";
$fe-align-justify: "\e906";
$fe-align-left: "\e907";
$fe-align-right: "\e908";
$fe-anchor: "\e909";
$fe-aperture: "\e90a";
$fe-arrow-down: "\e90b";
$fe-arrow-left: "\e90c";
$fe-arrow-right: "\e90d";
$fe-arrow-up: "\e90e";
$fe-at-sign: "\e90f";
$fe-award: "\e910";
$fe-bar-chart-2: "\e911";
$fe-bar-chart: "\e912";
$fe-battery: "\e913";
$fe-bell-off: "\e914";
$fe-bell: "\e915";
$fe-bluetooth: "\e916";
$fe-book: "\e917";
$fe-bookmark: "\e918";
$fe-box: "\e919";
$fe-briefcase: "\e91a";
$fe-camera-off: "\e91b";
$fe-camera: "\e91c";
$fe-check-circle: "\e91d";
$fe-check-square: "\e91e";
$fe-check: "\e91f";
$fe-chevron-down: "\e920";
$fe-chevron-left: "\e921";
$fe-chevron-right: "\e922";
$fe-chevron-up: "\e923";
$fe-chrome: "\e924";
$fe-circle: "\e925";
$fe-clipboard: "\e926";
$fe-clock: "\e927";
$fe-cloud-off: "\e928";
$fe-cloud: "\e929";
$fe-cog: "\e92a";
$fe-command: "\e92b";
$fe-comment-circle: "\e92c";
$fe-comment-square: "\e92d";
$fe-cpu: "\e92e";
$fe-crosshair: "\e92f";
$fe-delete: "\e930";
$fe-disc: "\e931";
$fe-download-cloud: "\e932";
$fe-download: "\e933";
$fe-droplet: "\e934";
$fe-edit: "\e935";
$fe-external-link: "\e936";
$fe-eye-off: "\e937";
$fe-eye: "\e938";
$fe-facebook: "\e939";
$fe-fast-forward: "\e93a";
$fe-feather: "\e93b";
$fe-file: "\e93c";
$fe-filter: "\e93d";
$fe-flag: "\e93e";
$fe-folder: "\e93f";
$fe-globe: "\e940";
$fe-grid: "\e941";
$fe-hash: "\e942";
$fe-headphones: "\e943";
$fe-heart: "\e944";
$fe-home: "\e945";
$fe-image: "\e946";
$fe-inbox: "\e947";
$fe-info: "\e948";
$fe-instagram: "\e949";
$fe-layers: "\e94a";
$fe-layout: "\e94b";
$fe-life-buoy: "\e94c";
$fe-loader: "\e94d";
$fe-location: "\e94e";
$fe-lock: "\e94f";
$fe-mail: "\e950";
$fe-map-pin: "\e951";
$fe-map: "\e952";
$fe-maximize-2: "\e953";
$fe-maximize: "\e954";
$fe-menu: "\e955";
$fe-mic-off: "\e956";
$fe-mic: "\e957";
$fe-minimize-2: "\e958";
$fe-minimize: "\e959";
$fe-minus-circle: "\e95a";
$fe-minus-square: "\e95b";
$fe-minus: "\e95c";
$fe-monitor: "\e95d";
$fe-moon: "\e95e";
$fe-more-horizontal: "\e95f";
$fe-more-vertical: "\e960";
$fe-move: "\e961";
$fe-music: "\e962";
$fe-octagon: "\e963";
$fe-pause: "\e964";
$fe-phone-call: "\e965";
$fe-phone-forwarded: "\e966";
$fe-phone-incoming: "\e967";
$fe-phone-missed: "\e968";
$fe-phone-off: "\e969";
$fe-phone-outgoing: "\e96a";
$fe-phone: "\e96b";
$fe-pie-chart: "\e96c";
$fe-play: "\e96d";
$fe-plus-circle: "\e96e";
$fe-plus-square: "\e96f";
$fe-plus: "\e970";
$fe-pocket: "\e971";
$fe-power: "\e972";
$fe-printer: "\e973";
$fe-radio: "\e974";
$fe-refresh-ccw: "\e975";
$fe-refresh-cw: "\e976";
$fe-rewind: "\e977";
$fe-rotate-ccw: "\e978";
$fe-rotate-cw: "\e979";
$fe-scissors: "\e97a";
$fe-search: "\e97b";
$fe-share: "\e97c";
$fe-shuffle: "\e97d";
$fe-skip-back: "\e97e";
$fe-skip-forward: "\e97f";
$fe-slash: "\e980";
$fe-square: "\e981";
$fe-star: "\e982";
$fe-sun: "\e983";
$fe-sunrise: "\e984";
$fe-sunset: "\e985";
$fe-tag: "\e986";
$fe-target: "\e987";
$fe-thermometer: "\e988";
$fe-thumbs-down: "\e989";
$fe-thumbs-up: "\e98a";
$fe-toggle-left: "\e98b";
$fe-toggle-right: "\e98c";
$fe-trash-2: "\e98d";
$fe-trash: "\e98e";
$fe-triangle: "\e98f";
$fe-twitter: "\e990";
$fe-umbrella: "\e991";
$fe-unlock: "\e992";
$fe-upload-cloud: "\e993";
$fe-upload: "\e994";
$fe-user-minus: "\e995";
$fe-user-plus: "\e996";
$fe-user: "\e997";
$fe-video-off: "\e998";
$fe-video: "\e999";
$fe-watch: "\e99a";
$fe-wifi: "\e99b";
$fe-wind: "\e99c";
$fe-x-circle: "\e99d";
$fe-x-square: "\e99e";
$fe-x: "\e99f";
$fe-zap: "\e9a0";
$fe-zoom-in: "\e9a1";
$fe-zoom-out: "\e9a2";
$fe-film: "\e9a3";
