@import "../util/functions";
@import "../settings";
@import "../animations/active";
@import "../animations/hover";

$insetShadow: create-shadow-map(0px, 1px, 10px, 0px, $elementShadowColor, inset);

.sorbet.input-container {
    position: relative;

    display: inline-block;

    height: 2.5vh;
    margin: 1vmin;

    & .sorbet-input:focus {
        $shadowColor: get-val($insetShadow, 'c');
        $shadowColor: darken(saturate($shadowColor, 30%), 10%);
        $shadowBlur: get-val($insetShadow, 'b') + 5px;

        $shadow: set-val($insetShadow, 'c', $shadowColor);
        $shadow: set-val($shadow, 'b', $shadowBlur);

        box-shadow: shadow-map-to-props($shadow);

        transition: $defaultTransitionProps;

        & ~ .sorbet-label {
            cursor: default;
        }
    }

    @each $name, $color in $contexts {

        &.#{$name} .sorbet-input {
            $shadow: set-val($insetShadow, 'c', saturate($color, 30%));

            box-shadow: shadow-map-to-props($shadow);
            background-color: lighten($color, 40%);

            transition: $defaultTransitionProps;

            &:focus {
                $shadowColor: darken(saturate($color, 30%), 10%);
                $shadowBlur: get-val($insetShadow, 'b') + 5px;

                $shadow: set-val($insetShadow, 'c', $color);
                $shadow: set-val($shadow, 'b', $shadowBlur);

                box-shadow: shadow-map-to-props($shadow);
            }

            &:focus ~ .sorbet-label {
                cursor: default;

                color: $color;
            }
        }
    }
}

.sorbet-label {
    position: absolute;

    top: 0.625vh;
    left: 0.625vw;

    cursor: text;

    color: darken($elementShadowColor, 100%);

    z-index: 1;
}

.sorbet-input {
    position: relative;

    top: 0;
    left: 0;

    height: 2.5vh;

    padding: 0.25vmin 0.75vmin;

    background-color: opacify(mix($elementBg, $elementShadowColor, 75%), 1);
    border-radius: 3px;

    border: none;

    font-size: 1.5vh;
    color: darken($elementShadowColor, 50%);

    box-shadow: shadow-map-to-props($insetShadow);

    transition: $defaultTransitionProps;

    @include active-placeholder-shift('.sorbet-label');
}
