@import "../settings";

.sorbet {
    .modal-backdrop {
        position: fixed;

        display: none;

        top: 0;
        left: 0;

        z-index: -999;

        width: 100vw;
        height: 100vh;

        background-color: opacify($elementShadowColor, 0.2);

        opacity: 0;

        transition-duration: 0s;

        &.shown {
            display: block;

            z-index: 2;

            opacity: 1;

            transition-duration: 0s;
        }
    }

    .modal-container {
        position: absolute;

        visibility: hidden;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        z-index: 998;

        padding-left: 0.75vw;
        padding-right: 0.75vw;
        padding-top: 0.75vh;
        padding-bottom: 0.75vh;

        background-color: $elementBg;

        border-radius: 10px;

        box-shadow: 0px 3px 15px 0px rgba(108, 122, 137, 0.4);

        opacity: 0;
        filter: blur(15px);

        transition: $defaultTransitionProps;
        transition-duration: 0s;
        transition-delay: 0s;

        &.shown {
            visibility: visible;

            z-index: 3;

            opacity: 1;
            filter: blur(0px);

            transition: $defaultTransitionProps;
            transition-duration: 0s;
            transition-delay: 0s;
        }
    }

    .titlebar {
        display: flex;

        width: 100%;

        margin-bottom: 1.5vh;

        flex-direction: row;
        justify-content: flex-start;

        .title {
            flex-grow: 9;

            font-weight: 500;
        }

        .close-icon {
            width: auto;
            height: 100%;

            display: flex;

            justify-content: center;
            align-self: center;

            opacity: 0.4;

            transition: $defaultTransitionProps;
            transition-property: opacity;

            &:hover {
                opacity: 1;

                transition: $defaultTransitionProps;
                transition-property: opacity;
            }
        }
    }

    .content {
        // tell the renderer to always antialias the font
        -webkit-font-smoothing: antialiased;
        transform: translate3d(0, 0, 0);

        padding-left: 1.5vw;
        padding-right: 1.5vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
}
