@import '../settings';

.scorch {
    &.card-container {
        background-color: $elementBg;

        border-width: 1px;
        border-style: solid;
        border-color: darken($elementBg, 0.5%);
        border-radius: 10px;

        box-shadow: 0px 3px 15px 0px rgba(108, 122, 137, 0.4);

        box-sizing: border-box;

        transition: $defaultTransitionProps;

        &.depth-0 {
            background-color: transparent;

            border-color: darken($bodyBg, 7.5%);
            border-width: 1px;
            border-style: solid;
            border-radius: 10px;

            box-shadow: none;

            transition: $defaultTransitionProps;
        }

        @for $i from 1 through 5 {
            &.depth-#{$i} {
                box-shadow: 0px 3px #{5 * $i + 15}px 0px $elementShadowColor;

                transition: $defaultTransitionProps;
            }
        }
    }
}
