@import '../util/functions';
@import '../util/mixins';
@import '../settings';

////// btn animations //////

// transform element to scale larger and move up
// to give the illusion of it rising.
// scale and translate are both larger than hover-rise
@mixin active-lower() {

    &:active {
        transform: translateY(2px) scale(1.02);

        transition: $defaultTransitionProps;
    }
}

// $shadows is a list of maps of shadow props
//
//
@mixin active-shadow-lower($shadows) {

    $dropShadow: nth($shadows, 1);
    $glowShadow: nth($shadows, 2);

    &:active {
        $vOffset: get-val($dropShadow, 'v') - 2px;
        $spread: get-val($dropShadow, 's') - 2px;

        $dropShadow: set-val($dropShadow, 'v', $vOffset);
        $dropShadow: set-val($dropShadow, 's', $spread);

        @include multi-box-shadow(
            shadow-map-to-props($dropShadow),
            shadow-map-to-props($glowShadow)
        );

        transition: $defaultTransitionProps;
    }
}

// $shadows is a list of maps of shadow props
// $color is the background-color of the element
//
// active inner glow is lighter to appear more
// intense than the hover inner-glow
@mixin active-inner-glow($shadows, $color) {

    $dropShadow: nth($shadows, 1);
    $glowShadow: nth($shadows, 2);

    &:active {
        background-color: lighten(saturate($color, 25%), 15%);

        transition: $defaultTransitionProps;
    }
}

////// text-input animations //////

@mixin active-placeholder-shift($label-selector) {

    & ~ #{$label-selector} {
        transition: $defaultTransitionProps;
    }

    &.active ~ #{$label-selector},
    &:focus ~ #{$label-selector}{
        top: -55%;
        left: 0;

        font-size: 1rem;
        font-weight: 700;

        transition: $defaultTransitionProps;
    }
}

////// reveal animations //////

@mixin active-reveal-anim() {

}
